<div class="mb-3">
  <form enctype="multipart/form-data" action="/file" method="POST">
  <label for="formFile" class="form-label">Import data from JSON file</label>
  <input class="form-control" name="myFiles" type="file" id="formFile" multiple>
  <button class="btn btn-primary my-2" type="submit">Import</button>
  </form>
</div>