{{#if chk}}
{{> import }}
<div class="col my-2">
    <span class="text-secondary ">Visit Your Favorite Movie Lists: </span><a href="/movie/">Movie Favorite List</a><br/>
</div>
<h3>Top Ratings</h3>
{{> content}}
{{else}}
<a href="/user/signin">Sign In</a>
<a href="/user/signup">Sign Up</a>
{{/if}}