<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center row">
        <div class=" col-md-6">
            <img src="https://cdn.dribbble.com/users/4841378/screenshots/13926696/media/46dc709adc2045fcf2412a0e11a83e32.png?compress=1&resize=400x300&vertical=top"
                alt="" class="img-fluid">
        </div>
        <div class=" col-md-6 mt-5">
            <p class="fs-3"> <span class="text-danger">Opps!</span> Server stops unexpectedly.</p>
            <p class="lead">
                Something went wrong. We're <span class="italic">looking</span> to see what
                happened.</p> Error Code: <b>{{errorCode}}</b>
            </p>
            <p>Messgae: {{error_msg}}</p>
            <a href="/" class="btn btn-primary">Go Home</a>
        </div>

    </div>
</div>